sudo: required
language: java

services:
  - docker

jdk:
  - oraclejdk8

env:
  global:
    - DOCKER_CFG=$HOME/.docker
    - DOCKER_REPO="utplsqlv3/oracledb"
    - CACHE_DIR=$HOME/.cache
    - MAVEN_HOME=/usr/local/maven
    - MAVEN_CFG=$HOME/.m2
    - DB_URL="127.0.0.1:1521:XE"
    - DB_USER=app
    - DB_PASS=app
    - ORACLE_VERSION="11g-r2-xe"
    - DOCKER_OPTIONS="--shm-size=1g"
    - UTPLSQL_FILE="utPLSQL"
  matrix:
    - UTPLSQL_VERSION="v3.0.0"
      UTPLSQL_FILE="utPLSQLv3.0.0"
    - UTPLSQL_VERSION="v3.0.1"
    - UTPLSQL_VERSION="v3.0.2"
    - UTPLSQL_VERSION="v3.0.3"
    - UTPLSQL_VERSION="v3.0.4"

cache:
  directories:
    - $DOCKER_CFG
    - $CACHE_DIR
    - $MAVEN_CFG

install:
  - bash .travis/maven_cfg.sh
  - bash .travis/start_db.sh
  - bash .travis/install_utplsql.sh
  - bash .travis/install_demo_project.sh

script:
  - mvn test -B
